<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="75FC4ILESjum6eI3pxyhZHf2ac5xqzfeVzouTF2nioU" />
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script>if(location.hostname !== 'localhost') { analytics.load('yAyk26rhqgSNovEGicDM9yYKZ05oxrDk'); }</script>
</head>
