<head>
  <title>airstrip.io - Nomad Stories Land Here Daily</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A smart daily aggregator of digital nomad stories, blogs, and news.">

  <!-- meta:og -->
  <meta property="og:title" content="airstrip.io - nomad stories land here daily">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A smart daily aggregator of digital nomad stories, blogs, and news.">
  <meta property="og:site_name" content="Airstrip.io">
  <meta property="og:url" content="http://airstrip.io">
  <meta property="og:image" content="https://airstrip.io/images/logo.png"/>

  <!-- meta:twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="airstrip.io - nomad stories land here daily"/>
  <meta name="twitter:description" content="A smart daily aggregator of digital nomad stories, blogs, and news."/>
  <meta name="twitter:image" content="https://airstrip.io/images/logo.png"/>
  <meta name="twitter:site" content="@airstripio"/>
  <meta name="twitter:creator" content="@sungwoncho"/>

  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script>if(location.hostname !== 'localhost') { analytics.load('yAyk26rhqgSNovEGicDM9yYKZ05oxrDk'); }</script>
</head>
