.feed-list {
  padding: 3em 0;
}

.item {
  padding: 1em;
  @include outer-container;
}

.source-badge {
  @include span-columns(1 of 12);

  @include media($mobile) {
    @include span-columns(1 of 4);
  }

  img {
    width: 50px;
  }
}

.item-info {
  @include span-columns(11 of 12);

  @include media($mobile) {
    @include span-columns(3 of 4);
  }

  h2 {
    margin-top: 0;
  }
}

.secondary-info {
  color: #2C3E50;
}
