.item-list {
  padding: 3em 0;
  @include clearfix;
  @include outer-container;
}

.flight-info {
  text-align: center;
  margin-top: 4em;
}

.captains-log {
  text-align: center;
}

.item {
  padding: 1em;
  border: 1px solid $gray;
  border-bottom: 0;
  @include span-columns(10 of 12);
  @include shift(1);

  &:last-child {
    border-bottom: 1px solid $gray;
  }

  li {
    display: inline-block;
    padding-right: 1.5em;
  }

  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
  }
}

.source-badge {
  @include span-columns(1 of 12);

  @include media($tablet) {
    @include span-columns(2 of 12);
    text-align: center;
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
    margin-bottom: 0.5em;
  }

  img {
    width: 50px;
  }
}

.item-info {
  @include span-columns(11 of 12);

  @include media($tablet) {
    @include span-columns(10 of 12);
  }

  @include media($mobile) {
    @include span-columns(4 of 4);
  }

  .item-title {
    margin-top: 0;

    @include media($mobile) {
      font-size: 1.2em;
    }
  }
}

.secondary-info {
  color: #2C3E50;
}

.recent-flights {
  background-color: $light-orange;
  padding: 3em 10em;

  @include media($mobile) {
    padding: 1em 0;
    text-align: center;
  }

  ul {
    @include outer-container;
  }

  li {
    display: inline-block;
    @include span-columns(3 of 12);

    @include media($mobile) {
      text-align: center;
      @include span-columns(4 of 4);
    }
  }

  .action {
    margin-top: 2.5em;
  }
}

.flight-index {
  @include outer-container;

  li {
    @include span-columns(4 of 12);
    @include omega(3n);
    margin-bottom: 3em;

    @include media($mobile) {
      @include span-columns(4 of 4);
      text-align: center;
    }
  }

  .flight-day {
    color: darken($gray, 20%);
  }
}
