body {
  margin: 0;
  background-color: #FFF;
  font-family: Lato;
}

figure {
  margin: 0;
}

a {
  color: #E74C3C;
  text-decoration: none;
}

.content {
  @include outer-container;
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    padding-right: 1.5em;
  }
}
