body {
  margin: 0;
  background-color: #FFF;
  font-family: Lato;
}

figure {
  margin: 0;
}

a {
  color: #E74C3C;
  text-decoration: none;
}

.content {
  @include outer-container;
}

ul {
  list-style: none;
  padding: 0;
}

.spinner {
  text-align: center;
  padding: 3em;
  font-size: 3em;

  .fa-spin {
    animation: fa-spin 1s infinite linear;
  }
}

.twitter-btn {
  position: fixed;
  float: left;
  left: 0;
  bottom: 0;
}
