.main-header {
  background-color: $green;
  padding: 4.5em 0 7em;

  .logo {
    text-align: center;
  }

  figcaption {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
  }

  h2 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 3em;
  }
}
