.main-header {
  background-color: $green;
  padding: 4.5em 0 7em;

  .logo {
    text-align: center;
  }

  figcaption {
    text-align: center;
    color: #fff;
    letter-spacing: 5px;

    .brand {
      @include media($mobile) {
        font-size: 1.2em;
      }  
    }
  }

  .intro {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 3em;

    @include media($mobile) {
      font-size: 1.5em;
    }
  }
}
